.headerContainer {
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  /* background: #222c29ed; */
  width: 100%;
  color: white;
  /* padding: 20px; */
  z-index: 100;
}
.LogoText {
  font-size: 2rem;
}
.headerMenu {
  padding: 0;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerRespMenu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* padding-top: 50px; */
}
.headerRespMenu li {
  display: block;
  height: 33%;
  /* background-color: white; */
  padding: 30px;
  color: black;
  cursor: pointer;
  border-bottom: 2px solid #343a4069;
}
.headerRespMenu li:hover {
  background: #8080807a;
}
.headerMenu li a, .headerLink {
  /* font-size: 20px; */
  color: white;
}
.headerMenu li a:hover,
.headerRespMenu li a:hover,
.headerLink:hover

 {

  color: gray;
}
.headerRespMenu li a, li {
  color: gray;
  /* font-size: 30px; */
  height: 100%;
}
li {
  color: black;
}
.headerRespMenu li a:hover {
  color: black;
  font-size: 30px;
}
.headerRespMenu li:hover a {
  color: black;
}
.headerIcon {
  cursor: pointer;
}
.headerRespMenuContainer {
  width: 100%;
  height: 100vh;
  /* background-color: white; */
  position: absolute;
  top: 60px;
}
ul {
  margin-bottom: 0;
}
.profileMenu {
  /* height: 50vh; */
  width: 230px;
  background-color: white;
  position: absolute;
  top: 27px;
  left: -78px;
  border-radius: 0px 0px 10px 10px;
}
.profileIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px ​solid gray !important;
}
 a.profileSvg {
  position: absolute;
  left: -35px;
  height: 50px;
  top: 0%;
  color: white;
}


a.profileSvg:hover {
  border-bottom: 5px solid #17a2b8;
}
a.profileSvgBorder {
  border-bottom: 5px solid #17a2b8;
}
.profileList {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* background: hsl(0,0%,12%);; */
  justify-content: space-between;
  padding-top: 0px !important;
}
.profileList a {
  width: 100%;
  color: gray !important;
  margin-bottom: 0;
display: block;
  border-bottom: 1px solid gray;
  padding: 10px;
  text-align: left;
}
.profileList a:hover, .logoutRow {
  color: hsl(0,0%,70%) !important;
  background: hsl(0,0%,11%) !important;

}
.logout {
    color:#f7996ce3 !important;
    width: 100%;
}
.logout:hover {
 color: rgb(255 83 0) !important;

}
@media only screen and (max-width:760px){
  .profileList {
    height: auto;
  }
  .LogoText {
    font-size: 1.5rem;
  }
  .profileMenu {
    left: -55px;
  }
}
@media only screen and (max-width:425px){

  .LogoText {
    font-size: 1rem;
  }
  .respLogout {
    display: none;
  }
  a.profileSvg {
    left: 40px ;
  }
}