.Container-dark {
  background-color: #000;
}

.Container-light {
  background-color: rgb(216, 216, 216);
}

/* style for all active buttons */

/* site primary color hsl(169, 82%, 60%) */

/* .activeBtn {
  color: hsl(169, 82%, 60%) !important;
} */




.css-1a1fmpi-MuiInputBase-root-MuiInput-root:after{
  border-bottom: 1px solid hsl(169, 82%, 60%) !important;
}

.about {
  min-height:100vh;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.7)), url(./images/bg1.jpg);
 
  background-size:cover;
}
.swiper {
  width: 100% !important;
}
 .MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list, .MuiMenu-list.css-r8u8y9 {
  background: hsl(0,0%,12%) !important;
}
.css-1wuw8dw-MuiBreadcrumbs-separator{
color: gray !important;
}
.MuiOutlinedInput-notchedOutline.css-igs3ac {
  border-color: gray !important;
}
.css-3mf706{
  color: gray;
}
.MuiPaginationItem-previousNext.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root {
  color:hsl(169,82%,60%) !important;
}

.MuiPaginationItem-page.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root {
  color: rgba(25, 232, 22, 0.535) !important;
}